@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
.post-update{
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
top: 50px;
width:500px;
}
.post-particular {
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
top: 50px;
width:1000px;
}
.post-particular p {
margin-top: 10px;
border-top: thin solid #3399FF;
border-bottom: thin solid #3399FF;
padding-top:30px;
padding-bottom:30px;
}
.post-particular h1{
font-family: 'Lobster', cursive;
color:#3399FF;
}
.comments{
margin-top:50px;
clear:both;
float:left;
width: 40%;
}

.comments-section{
	display:none;
}

.comment{
border-radius: 25px;
padding:15px;
text-align:left;
margin-top:30px;
background-color:#87CEEB;
}

.comment p{
	margin: 0px;
	padding:0px;
	color:white;
	border-color: #87CEEB;
}

body {
background-color : #F8F8F8;
font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}